*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    height:100vh;
    width:100vw;
    background-image:url(bg.jpg);
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;

    
}

.loginwindow{
    height:60%;
    width:50%;
    background-color:rgba(255, 255, 255, 0.544);
    backdrop-filter:blur(1px);
    border-radius:25px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    gap:45px; 
    box-shadow:0 4px 8px rgba(0,0,0,0.15);

}

.details{
    display:flex;
    flex-direction:column;
    width:60%;
    gap:15px;
}



input[type="text"],input[type="password"]{
    padding:16px;
    border:none;
    border-radius:20px;
    font-size:15px;
    font-style: italic;
    box-shadow:0 4px 8px rgba(0,0,0,0.15);}    


    h1{
        font-size:45px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
    }
    button{
        cursor:pointer;
        padding:15px;
        color:white;
        border:none;
        background:linear-gradient(rgba(255, 0, 0, 0.609),rgba(255, 166, 0, 0.668)) ;
        width:30%;
        border-radius:20px;
        font-size:15px ;
    }

    p{
        color:rgba(0, 0, 0, 0.885);
        font-size:20px;
        cursor:pointer;
    }